<footer>
    <hr>
    <p style="background-color: {{ app.isProduction ? '#f0f0f0' : '#770000' }}; color: {{ app.isProduction ? '#333' : '#fff3cd' }}; padding-left: 1em; padding-bottom: 1em; padding-top: 1em; ">&copy; {{ app.name }}  -  ({{ app.env }})  {{ "now"|date("Y") }}</p>
</footer>
